/*Nav Styles*/

.nav{
	height: 50px;
	background-color: black;
}

.nav ul{
	background-color: rgb(21, 155, 255);
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-bar{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.nav li{
	display: inline-block;
	padding: 15px 0.5% 5px 0.5%;
	height: 30px;
}

.active{
	background-color: rgb(10, 204, 255);
}

.nav li:hover{
	background-color: rgb(8, 77, 232);
}

.nav a{
	text-decoration: none;
	color: white;
	transition: all linear 0.15s;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 1em;
	width: 8em;
	height: 2.2em;
}

.clearFix{
	display: block;
	clear: both;
}

.nav > ul > li> a{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}

/* Content section */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.1em;
}

.testBorder{
	border: 1px dotted red;
}

header{
	overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.container{
	background-color: white;
	margin: auto;
	padding: 1.6%;
	min-height: 80vh;
	overflow: auto;
}

.content{
	padding: 1.5%;
	margin: 5vh auto;
	overflow: auto;
	min-width: 50%;
	min-height: 40vh;
}

.content h1{
	text-align: center;
}

.content figcaption{
	text-align: center;
}

.contentColor-1{
	background-color: rgb(253, 255, 4);
}

.contentColor-2{
	background-color: rgb(255, 57, 53)
}

.contentColor-3{
	background-color: rgb(28, 255, 107)
}
.contentColor-4{
	background-color: rgb(255, 46, 86);
}

.contentColor-5{
	background-color: rgb(255, 127, 51);
}

.contentColor-6{
	background-color: rgb(242, 18, 66);
}

.contentColor-7{
	background-color: rgb(233, 64, 255);
}

.new{
	color: rgb(240, 15, 4);
}

.image{
	padding-top: 2em;
	padding-bottom: 2em;
	display: block;
	margin: 0 auto;
}

address{
	font-size: 1.4em;
	line-height: 1.2em;
	font: italic;
}

address a{
	text-decoration: none;
}

.formSection{
	padding-top: 1em;
}

/* Column layouts */
.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}

.left{
	float: left;
}

.push-half{
	margin-left: 4.16%;
}

.push-1{
	margin-left: 8.33%;
}

.push-2{
	margin-left: 16.66%;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

h1{
	font-size: 2.5em;
	line-height: 3em;
}
h2{
	font-size: 2em;
	line-height: 2.5em;
}
h3{
	font-size: 1.5em;
	line-height: 2em;
}
h4{
	font-size: 1em;
	line-height: 1.5em;
}
h5{
	font-size: 0.8em;
	line-height: 1em;
}
h6{
	font-size: 6em;
	line-height: 0.8em;
}

