body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.1em;
}

.testBorder{
	border: 1px dotted red;
}

header{
	overflow: auto;
}

/*Nav Styles*/

.nav{
	height: 50px;
	background-color: white;
}

.nav ul{
	background-color: rgb(255, 0, 50);
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav li{
	display: inline-block;
	padding: 15px 0.5% 5px 0.5%;
	height: 30px;
}

.active{
	background-color: rgb(60, 255, 94);
}

.nav li:hover{
	background-color: rgb(42, 178, 66);
}

.nav a{
	text-decoration: none;
	color: white;
	transition: all linear 0.15s;
}

.nav .arrow{
	font-size: 11px;
	line-height: 0%;
}

.clearFix{
	display: block;
	clear: both;
}
/*----- TOP LEVEL -----*/

.nav > ul > li> a{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}

/*----- BOTTOM LEVEL -----*/

.sub-menu{
	position: absolute;
	top: 6%;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.nav li:hover .sub-menu{
	z-index: 1;
	opacity: 1;
}

.sub-menu li {
    display:block;
    font-size:0.9em;
}
 
.sub-menu li a {
    padding:0px 15px;
    display:block;
}

/* Column layouts */
.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}

.left{
	float: left;
}

.push-half{
	margin-left: 4.16%;
}

.push-1{
	margin-left: 8.33%;
}

.push-2{
	margin-left: 16.66%;
}

.container{
	background-color: rgb(60, 255, 94);
	margin: auto;
	padding: 1.6%;
	min-height: 80vh;
	overflow: auto;
}

.content{
	padding: 1.5%;
	margin: 5vh auto;
	overflow: auto;
	min-width: 50%;
	min-height: 40vh;
}

.new a{
	color: rgb(232, 201, 8);
}

.contentColor-1{
	background-color: rgb(20, 152, 204);
}

.contentColor-2{
	background-color: rgb(255, 243, 25)
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

h1{
	font-size: 2.5em;
	line-height: 3em;
}
h2{
	font-size: 2em;
	line-height: 2.5em;
}
h3{
	font-size: 1.5em;
	line-height: 2em;
}
h4{
	font-size: 1em;
	line-height: 1.5em;
}
h5{
	font-size: 0.8em;
	line-height: 1em;
}
h6{
	font-size: 6em;
	line-height: 0.8em;
}

